@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-brand-primary: #003366; /* Deep institutional blue */
    --color-brand-accent: #D4AF37;  /* Gold/Brass for modern financial feel */
    --color-brand-alert: #dc2626;   /* Modernized red for alerts */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
